backend/node_modules
backend/package-lock.json
backend/.eslintrc.js
backend/.env
backend/uploads/*

frontend/node_modules
frontend/.eslintrc.js
frontend/package-lock.json

mobile/.expo/*
mobile/node_modules/
mobile/package-lock.json